/* COLORS */
$primary-color: #2A324B;
$secondary-color: #3581B8;
$accent-color: #F7C59F;

/* BREAKPOINTS */
$breakpoint-screen-phone: 320px;
$breakpoint-screen-ipad: 1024px;
$breakpoint-screen-pc: 1440px;
$breakpoint-screen-pc4k: 2460px;

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;

    @media (min-width: $breakpoint-screen-pc) {
        font-size: large;
    }
    /*
    @media (min-width: $breakpoint-screen-pc4k) {
        font-size: x-large;
    }*/
}

h1, h2 {
    color: white;
    text-align: center;
}

#name{
    width: 50%;
}


/*              HEADER // HERRO             */

header{
    width: 100%;
    height: 10%;
    background: $primary-color;
    position: fixed;
    bottom: 0;
    max-height: 80px;
    outline: 1px solid #F7C59F;
    z-index: 50;
    @media (min-width: $breakpoint-screen-pc) {
        top: 0;
        bottom: 1;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        padding: 0;
        height: 100%;
        margin: 0;
        li {
            margin-top: 35px;
            justify-content: center;
            text-align:center;
            color: $accent-color;
            width: 100%;
            height: 100%;
            align-items: center;
            svg {
                height: 40px;
                width: 40px;
            }
            p {
                display: none;
            }

            @media (min-width: $breakpoint-screen-pc) {
                svg {
                    display: none;
                }
                p {
                    display: inherit;
                }
            }
        }
    }
}

section {
    
    &.hero{
        background-color: $primary-color;
        
        min-height: 550px;           
        max-height: 2400px;           

        .backgroundpc{
            width: 100%;
            @media (max-width: $breakpoint-screen-phone) {
                display: none;
            }
        }

        .profile{
            width: 40%;
            border-radius: 9999px;
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            bottom: 80px;
            @media (min-width: $breakpoint-screen-ipad) {
                bottom: 120px;
                width: 20%;
            }
        }
        .contact {
            padding-bottom: 10px;
            .btn-contact {
                color: $accent-color;
            }
        }   
    }

    &.presentation{
        background-color: white;
        color: black;
        height: 600px;
        p {
            margin-left: 5%;
            margin-right: 5%;
        }

        @media (min-width: $breakpoint-screen-ipad) {
            height: 400px;
        }
        @media (min-width: $breakpoint-screen-pc) {
            height: 350px;
        }
    }

    &.skills{
        background-color: $primary-color;
        min-height: 320px;
        .title {
            position: absolute;
            margin-top: -25px;
            padding: 10px;
            padding-left: 25px;
            color: white;
            background-color: #3581B8;
            max-width: 10rem;
        }
        .body {
            color: white;
            padding-left: 10px;
            padding-top: 10px;
            h3 {
                padding-top: 15px;
                padding-left: 10px;
            }
            hr {
                margin-top: -1px;
                position: absolute;
                right: 0;
                width: 85%;
                border: 0.5px solid #3F4969;
                border-radius: 5px;
            }
            li {
                padding-left: 10px;
            }
        }
        
        
    }

    &.experiences {
        .title {
            margin-bottom: 25px;
        }
        .body {
            @media (min-width: $breakpoint-screen-ipad) {
                display: flex;
                justify-content: center;
            }
                .card {
                display: flex;
                padding: 5px;
                margin: 15px;
                margin-bottom: 25px;
                box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
                transition: 0.3s;
                height: 200px;
                justify-content: space-between;
                .card-title {
                    position: absolute;
                    margin-top: -15px;
                    padding: 5px;
                    color: white;
                    background-color: #3581B8;
                    max-width: 15rem;
                    font-size: small;
                }
                .card-body {
                    .card-date {
                        margin-top: 20px;
                        font-size: small;
                    }      
                }
                .card-img {
                    padding: 0;
                    margin: 0;
                    width: 150px;
                    height: 200px;
                    border-radius: 3px;
                }
            }
        }
        
        
    }

    .title {
        color: $secondary-color;
        padding-top: 20px;
        margin-top: 0;
    }
}


/*            FOOTER            */

footer {
    background-color: $accent-color;
    height: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    p {
        align-items: center;
        color: #505455;
    }
}
