$primary-color: #2A324B;
$secondary-color: #3581B8;
$accent-color: #F7C59F;

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

h1, h2 {
    color: white;
    text-align: center;
}

#name{
    width: 50%;
}


/*              HEADER // HERRO             */

header{
    width: 100%;
    height: 10%;
    background: $primary-color;
    position: fixed;
    bottom: 0;
    max-height: 80px;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        padding: 0;
        height: 100%;
        margin: 0;
        li {
            margin-top: 35px;
            justify-content: center;
            text-align:center;
            color: $accent-color;
            width: 100%;
            height: 100%;
            align-items: center;
            svg {
                height: 40px;
                width: 40px;
            }
        }
    }
}

section {
    min-height: 720px;
    
    &.hero{
        background-color: $primary-color;
        
        .background{
            width: 100%;
        }
        .profile{
            width: 40%;
            border-radius: 9999px;
            position: relative;
            left: 30%; 
            bottom: 80px;
        }
        .contact {
            padding-bottom: 10px;
            .btn-contact {
                color: $accent-color;
            }
        }
        
    }

    &.presentation{
        background-color: white;
        color: $secondary-color;
        p {
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    &.skills{
        background-color: $primary-color;

        .title {
            color: white;
        }
    }

    .title {
        color: $secondary-color;
        padding-top: 20px;
        margin-top: 0;
    }
}


/*              HEADER // HERRO             */

footer{

}
