/* COLORS */
/* BREAKPOINTS */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

@media (min-width: 1440px) {
  html, body {
    font-size: large;
  }
}

h1, h2 {
  color: white;
  text-align: center;
}

#name {
  width: 50%;
}

/*              HEADER // HERRO             */
header {
  width: 100%;
  height: 10%;
  background: #2A324B;
  position: fixed;
  bottom: 0;
  max-height: 80px;
  outline: 1px solid #F7C59F;
  z-index: 50;
}

@media (min-width: 1440px) {
  header {
    top: 0;
    bottom: 1;
  }
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
  padding: 0;
  height: 100%;
  margin: 0;
}

header ul li {
  margin-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #F7C59F;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li svg {
  height: 40px;
  width: 40px;
}

header ul li p {
  display: none;
}

header ul li a {
  text-decoration: none;
  color: #F7C59F;
}

@media (min-width: 1440px) {
  header ul li {
    margin-top: 55px;
  }
  header ul li svg {
    display: none;
  }
  header ul li p {
    display: inherit;
  }
  header ul li a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #F7C59F;
  }
}

section.hero {
  background-color: #2A324B;
  min-height: 550px;
  max-height: 2400px;
}

section.hero .background {
  width: 100%;
}

@media (max-width: 320px) {
  section.hero .background {
    display: none;
  }
}

@media (min-width: 1440px) {
  section.hero .background {
    height: 500px;
  }
}

section.hero .profile {
  width: 40%;
  border-radius: 9999px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 80px;
}

@media (min-width: 1024px) {
  section.hero .profile {
    bottom: 120px;
    width: 20%;
  }
}

section.hero .contact {
  padding-bottom: 10px;
}

section.hero .contact .btn-contact {
  color: #F7C59F;
}

section.presentation {
  background-color: white;
  color: black;
  min-height: 300px;
  margin-bottom: 45px;
}

section.presentation .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.presentation .text p {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 900px;
}

@media (min-width: 1024px) {
  section.presentation {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  section.presentation {
    height: 350px;
  }
}

section.skills {
  background-color: #2A324B;
  min-height: 320px;
}

section.skills .title {
  position: absolute;
  margin-top: -25px;
  padding: 10px;
  padding-left: 25px;
  color: white;
  background-color: #3581B8;
  max-width: 10rem;
}

section.skills .body {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

@media (min-width: 1024px) {
  section.skills .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
}

section.skills .body hr {
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  border: 0.5px solid #3F4969;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  section.skills .body hr {
    margin-left: 0px;
    margin-right: 0px;
    right: auto;
    width: 1px;
    border-left: outset;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  section.skills .body .skill {
    margin-left: 50px;
    margin-right: 50px;
  }
}

section.skills .body .skill h3 {
  padding-top: 15px;
  padding-left: 10px;
}

section.skills .body .skill li {
  padding-left: 10px;
}

@media (min-width: 1024px) {
  section.skills .body .skill li {
    padding-left: auto;
  }
  section.skills .body .skill h3 {
    padding-top: auto;
    padding-left: auto;
  }
}

section.experiences .title {
  margin-bottom: 25px;
}

section.experiences .body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1024px) {
  section.experiences .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section.experiences .body .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin: 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  section.experiences .body .card {
    width: 400px;
  }
}

@media (min-width: 1440px) {
  section.experiences .body .card {
    width: 500px;
  }
}

section.experiences .body .card .card-title {
  position: absolute;
  margin-top: -15px;
  padding: 5px;
  color: white;
  background-color: #3581B8;
  max-width: 15rem;
  font-size: small;
}

section.experiences .body .card .card-body .card-date {
  margin-top: 20px;
  font-size: small;
}

section.experiences .body .card .card-img {
  padding: 0;
  margin: 0;
  width: 150px;
  height: 200px;
  border-radius: 3px;
}

section .title {
  color: #3581B8;
  padding-top: 20px;
  margin-top: 0;
}

/*            FOOTER            */
footer {
  background-color: #F7C59F;
  height: 50px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1440px) {
  footer {
    margin-bottom: 0px;
  }
}

footer p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #505455;
}
/*# sourceMappingURL=style.css.map */